.vscode/*
*.code-workspace
APCTests/testbin
# Local History for Visual Studio Code
.history/
.DS_Store

#objects
obj/*
build/*
build
__pycache__

#executables
bin/*
bin/matrices
!bin/*.ipynb
bin/de440.bsp
!bin/*.py
bin/sam-test.py

#external libraries
extern/cspice*
res/

#documentation builds
build/
_build/
_static/
_templates/

vc140.pdb

