.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/
.DS_Store

#objects
obj/*
build/*
build
__pycache__

#executables
bin/*
!bin/matrices
!bin/Test.ipynb
bin/de440.bsp
!bin/*.py

#external libraries
extern/

#documentation builds
build/
_build/
_static/
_templates/

vc140.pdb

